<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://192.168.178.2:3306/seanam_job_cards?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true</property>
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="connection.username">namops</property>
        <property name="connection.password">3Mili2,87</property>
        <property name="current_session_context_class">thread</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">200</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="hibernate.jdbc.time_zone">UTC</property>

        <mapping class="com.jvmtechs.model.JobCard"/>
        <mapping class="com.jvmtechs.model.JobTitle"/>
        <mapping class="com.jvmtechs.model.JobClass"/>
        <mapping class="com.jvmtechs.model.User"/>
        <mapping class="com.jvmtechs.model.WorkArea"/>
        <mapping class="com.jvmtechs.model.OrderNumber"/>

    </session-factory>
</hibernate-configuration>